<label class="Form-field Form-field--checkbox">
    {{ field.renderInput({
        class: false,
        id: fieldId
    }) }}
    <span class="Form-indicator"></span>
    <span class="FormField-label">{{- field.label -}}</span>
</label>
