/* Colors: Custom */

// Grey
$cc-grey:                           #ccc !default;
$cc-grey--hover:                    scale-color($cc-grey, $lightness: -30%);

$cc-yellow:                         #FDC119 !default;
$cc-red:                            #FF004F !default;
$cc-blue:                           #2934FF !default;
$cc-black:                          #2B2828 !default;

