/* Components: Cookie */
$cookie-background-color:                             rgba($black, .25) !default;
$cookie-body-color:                                   $black !default;
$cookie-text-color:                                   $white !default;
$cookie-link-color:                                   inherit !default;
