@font-face {
    font-family: 'DaxlinePro';
    font-display: swap;
    src: url('{{ baseUrl }}assets/fonts/DaxlinePro-Thin.woff2') format('woff2'),
    url('{{ baseUrl }}assets/fonts/DaxlinePro-Thin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
