
<div class="Masonry-cell is-big">
    <div class="FlexEmbed FlexEmbed--1by1">
        <div class="FlexEmbed-content">
            {% include "_partials/blocks/tiles/tile.twig" with {
                font: 'Mega',
                ratio: '1:1'
            } %}
        </div>
    </div>
</div>