
<div class="Masonry-cell is-small">
    <div class="FlexEmbed FlexEmbed--1by2">
        <div class="FlexEmbed-content">
            {% include "_partials/blocks/tiles/tile.twig" with {
                font: 'Alfa',
                ratio: '2:1'
            } %}
        </div>
    </div>
</div>