{% set color = item.fieldColor|default('white') %}
{% set title = item.fieldTitle|default('') %}
{% set text = item.fieldText|default('') %}
{% set buttons = item.fieldButtons.all()|default(null) %}

<div class="Block Block--text Block--{{ color }}">
    <div class="Container">
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-size2of3 u-md-sizeFull u-sm-sizeFull u-xs-sizeFull">
                {% include "_partials/blocks/text.twig" with {
                    title: title,
                    text: text,
                    buttons: buttons
                } %}
            </div>
        </div>
    </div>
</div>